<div class="h-full w-full">
    <mat-drawer-container >
    
        <mat-drawer #drawer  mode="push" >
            <h3 class="text-3xl mb-4">Administrador</h3>
            <!-- <button mat-raised-button (click)="AutoComplete('admin')" >Admin</button> -->
              
            <div (click)="AutoComplete('admin')" class="p-0 m-1 border-none bg-transparent cursor-pointer w-20 shadow-2xl transition ease-in hover:scale-110">
                <img src="https://firebasestorage.googleapis.com/v0/b/clinicaonline-27fd8.firebasestorage.app/o/fotosPerfil%2FiDl3pevfYkRLYHZzEJ05YC3XGSq1?alt=media&token=2382103c-4656-4878-b1cf-974d2eac8d84" alt="Admin" class="w-20 h-20 object-cover rounded-md border border-gray-300" />
            </div>
    
            <h3 class="text-3xl mb-4 mt-10">Especialistas</h3>
            <!-- <button mat-raised-button (click)="AutoComplete('especialista')" >Especialista</button> -->
            <div (click)="AutoComplete('especialista1')" class="p-0 m-1 border-none bg-transparent cursor-pointer w-20 shadow-2xl transition ease-in hover:scale-110">
                <img src="https://firebasestorage.googleapis.com/v0/b/clinicaonline-27fd8.firebasestorage.app/o/fotosPerfil%2FRond5D4A6ta1CGyFbNDVG94tkBz1?alt=media&token=e7a4bdd2-9b12-415e-b4f5-2d138c7a5773" alt="Admin" class="w-20 h-20 object-cover rounded-md border border-gray-300" />
            </div>
            <div (click)="AutoComplete('especialista2')" class="p-0 m-1 border-none bg-transparent cursor-pointer w-20 shadow-2xl transition ease-in hover:scale-110">
                <img src="https://firebasestorage.googleapis.com/v0/b/clinicaonline-27fd8.firebasestorage.app/o/fotosPerfil%2FP9e1hTozk4O8rIoxYk80invKSgs2?alt=media&token=8cb9fc0e-32c9-485f-8473-260e54c17939" alt="Admin" class="w-20 h-20 object-cover rounded-md border border-gray-300" />
            </div>
            <h3 class="text-3xl mb-4 mt-10">Pacientes</h3>
            <!-- <button mat-raised-button (click)="AutoComplete('paciente')" >Paciente</button> -->
             <div (click)="AutoComplete('paciente1')" class="p-0 m-1 border-none bg-transparent cursor-pointer w-20 shadow-2xl transition ease-in hover:scale-110">
                <img src="https://firebasestorage.googleapis.com/v0/b/clinicaonline-27fd8.firebasestorage.app/o/fotosPerfil%2Fp0Lmqfhk3EPoTJWvX4w8LM82U4v2?alt=media&token=319c6069-7ece-4320-8c07-84333a620449" alt="Admin" class="w-20 h-20 object-cover rounded-md border border-gray-300" />
            </div>
            <div (click)="AutoComplete('paciente2')" class="p-0 m-1 border-none bg-transparent cursor-pointer w-20 shadow-2xl transition ease-in hover:scale-110">
                <img src="https://firebasestorage.googleapis.com/v0/b/clinicaonline-27fd8.firebasestorage.app/o/fotosPerfil%2FV2Yzv8rOy1hiUDTwtggEed02HaA2?alt=media&token=6bc679e2-95ef-4752-832d-8bc8c269ae90" alt="Admin" class="w-20 h-20 object-cover rounded-md border border-gray-300" />
            </div>
            <div (click)="AutoComplete('paciente3')" class="p-0 m-1 border-none bg-transparent cursor-pointer w-20 shadow-2xl transition ease-in hover:scale-110">
                <img src="https://firebasestorage.googleapis.com/v0/b/clinicaonline-27fd8.firebasestorage.app/o/fotosPerfil%2FwHMcZ34fN6MOSdSnaVnY5ZTJPT52?alt=media&token=d6d7ee59-89ae-4042-8a45-986f0fe3cc14" alt="Admin" class="w-20 h-20 object-cover rounded-md border border-gray-300" />
            </div>
            
            
        </mat-drawer>
        
        
        <mat-drawer-content >
            <div class="row w-96 h-[32rem] bg-white shadow-lg rounded-lg flex justify-center text-center align-middle items-center">
    
                <form class="" [formGroup]="formLogin" (submit)="LogIn()">
            
                    <h1 class=" text-4xl text-center text-blue-500 font-bold mb-10" >Inicio Sesión</h1>
            
            
                    <mat-form-field style="width: 100%;">
                        <mat-label>Email</mat-label>
                        <input [(ngModel)]="email" type="email" matInput formControlName="emailLogin"
                            placeholder="Ingrese email">
                        
                        @if (emailLogin?.hasError('email') && !emailLogin?.hasError('required')) 
                        {
                            <mat-error>Igresar email valido</mat-error>
                        }
                        @if (emailLogin?.hasError('required')) 
                        {
                            <mat-error>Email es <strong>requerido</strong></mat-error>
                        }
                    </mat-form-field>
                    <br>
                    
                    <mat-form-field style="width: 100%;">
                        <mat-label>Contraseña</mat-label>
                        <input [(ngModel)]="password" matInput [type]="hide ? 'password' : 'text'" placeholder="Ingrese contraseña" formControlName="passwordLogin">
                        <button type="button" mat-button matSuffix (click)="togglePasswordVisibility()" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon >{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        @if (passwordLogin?.hasError('required')) 
                        {
                            <mat-error>Contraseña <strong>requerida</strong></mat-error>
                        }
                    </mat-form-field>
                    <br>
            
                    <div class="buttonsContainer" >
                        <button type="submit" mat-raised-button >Iniciar sesion</button>
                        <button type="button" (click)="drawer.toggle()"  style="margin-top: 15px; width: 45%;"  mat-flat-button >Autocompletar</button>
                        
                    </div>
                
                </form>
            </div>
            
        </mat-drawer-content>
        
        
    </mat-drawer-container>
    
    <!-- SPINNER -->
    <div *ngIf="cargando" class="spinner-overlay">
        <mat-progress-spinner
          mode="indeterminate"
          diameter="50">
        </mat-progress-spinner>
    </div>
      
    <div [class.loading]="cargando"></div>
    <!-- SPINNER -->
</div>

    <!-- <div class="row">

        <form class="form" [formGroup]="formLogin" (submit)="LogIn()">
    
            <h1 style="color:  rgb(52, 127, 212); font-weight: 600;">Inicio Sesión</h1>
    
    
            <mat-form-field style="width: 100%;">
                <mat-label>Email</mat-label>
                <input [(ngModel)]="email" type="email" matInput formControlName="emailLogin"
                    placeholder="Ingrese email">
                
                @if (emailLogin?.hasError('email') && !emailLogin?.hasError('required')) 
                {
                    <mat-error>Igresar email valido</mat-error>
                }
                @if (emailLogin?.hasError('required')) 
                {
                    <mat-error>Email es <strong>requerido</strong></mat-error>
                }
            </mat-form-field>
            <br>
            
            <mat-form-field style="width: 100%;">
                <mat-label>Contraseña</mat-label>
                <input [(ngModel)]="password" matInput [type]="hide ? 'password' : 'text'" placeholder="Ingrese contraseña" formControlName="passwordLogin">
                <button mat-button matSuffix (click)="togglePasswordVisibility()" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon >{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                @if (passwordLogin?.hasError('required')) 
                {
                    <mat-error>Contraseña <strong>requerida</strong></mat-error>
                }
            </mat-form-field>
            <br>
    
            <div class="buttonsContainer" >
                <button type="submit" mat-raised-button >Iniciar sesion</button>
                <button  style="margin-top: 15px; width: 75%; margin-left: 45px;" type="button" mat-flat-button >Autocompletar</button>
            </div>
        
        </form>
    </div>  -->
      


  