<div class="h-full w-full">
    <mat-drawer-container >
    
        <mat-drawer #drawer  mode="push" >
            <h3 class="text-3xl mb-4">Administrador</h3>
            <button mat-raised-button (click)="AutoComplete('admin')" >Admin</button>
    
            <h3 class="text-3xl mb-4 mt-10">Especialistas</h3>
            <button mat-raised-button (click)="AutoComplete('especialista')" >Especialista</button>
            
            <h3 class="text-3xl mb-4 mt-10">Pacientes</h3>
            <button mat-raised-button (click)="AutoComplete('paciente')" >Paciente</button>
            
            
        </mat-drawer>
        
        
        <mat-drawer-content >
            <div class="row w-96 h-[32rem] bg-white shadow-lg rounded-lg flex justify-center text-center align-middle items-center">
    
                <form class="" [formGroup]="formLogin" (submit)="LogIn()">
            
                    <h1 class=" text-4xl text-center text-blue-500 font-bold mb-10" >Inicio Sesión</h1>
            
            
                    <mat-form-field style="width: 100%;">
                        <mat-label>Email</mat-label>
                        <input [(ngModel)]="email" type="email" matInput formControlName="emailLogin"
                            placeholder="Ingrese email">
                        
                        @if (emailLogin?.hasError('email') && !emailLogin?.hasError('required')) 
                        {
                            <mat-error>Igresar email valido</mat-error>
                        }
                        @if (emailLogin?.hasError('required')) 
                        {
                            <mat-error>Email es <strong>requerido</strong></mat-error>
                        }
                    </mat-form-field>
                    <br>
                    
                    <mat-form-field style="width: 100%;">
                        <mat-label>Contraseña</mat-label>
                        <input [(ngModel)]="password" matInput [type]="hide ? 'password' : 'text'" placeholder="Ingrese contraseña" formControlName="passwordLogin">
                        <button type="button" mat-button matSuffix (click)="togglePasswordVisibility()" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon >{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        @if (passwordLogin?.hasError('required')) 
                        {
                            <mat-error>Contraseña <strong>requerida</strong></mat-error>
                        }
                    </mat-form-field>
                    <br>
            
                    <div class="buttonsContainer" >
                        <button type="submit" mat-raised-button >Iniciar sesion</button>
                        <button type="button" (click)="drawer.toggle()"  style="margin-top: 15px; width: 45%;"  mat-flat-button >Autocompletar</button>
                        
                    </div>
                
                </form>
            </div>
            
        </mat-drawer-content>
        
        
    </mat-drawer-container>
    
    <!-- SPINNER -->
    <div *ngIf="cargando" class="spinner-overlay">
        <mat-progress-spinner
          mode="indeterminate"
          diameter="50">
        </mat-progress-spinner>
    </div>
      
    <div [class.loading]="cargando"></div>
    <!-- SPINNER -->
</div>

    <!-- <div class="row">

        <form class="form" [formGroup]="formLogin" (submit)="LogIn()">
    
            <h1 style="color:  rgb(52, 127, 212); font-weight: 600;">Inicio Sesión</h1>
    
    
            <mat-form-field style="width: 100%;">
                <mat-label>Email</mat-label>
                <input [(ngModel)]="email" type="email" matInput formControlName="emailLogin"
                    placeholder="Ingrese email">
                
                @if (emailLogin?.hasError('email') && !emailLogin?.hasError('required')) 
                {
                    <mat-error>Igresar email valido</mat-error>
                }
                @if (emailLogin?.hasError('required')) 
                {
                    <mat-error>Email es <strong>requerido</strong></mat-error>
                }
            </mat-form-field>
            <br>
            
            <mat-form-field style="width: 100%;">
                <mat-label>Contraseña</mat-label>
                <input [(ngModel)]="password" matInput [type]="hide ? 'password' : 'text'" placeholder="Ingrese contraseña" formControlName="passwordLogin">
                <button mat-button matSuffix (click)="togglePasswordVisibility()" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon >{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                @if (passwordLogin?.hasError('required')) 
                {
                    <mat-error>Contraseña <strong>requerida</strong></mat-error>
                }
            </mat-form-field>
            <br>
    
            <div class="buttonsContainer" >
                <button type="submit" mat-raised-button >Iniciar sesion</button>
                <button  style="margin-top: 15px; width: 75%; margin-left: 45px;" type="button" mat-flat-button >Autocompletar</button>
            </div>
        
        </form>
    </div>  -->
      


  