<div class="bg-white w-full h-full rounded-2xl shadow-lg p-4">
    
    <div class=" rounded-2xl p-4">
        <h1 class="text-3xl font-medium">Mis turnos</h1>
        <h2 class="text-gray-500 mb-6">Listado de turnos solicitados.</h2>
        <!-- <mat-list class="" role="list">
            <mat-list-item role="listitem">
                Turno 1 
            </mat-list-item>
            <mat-list-item role="listitem">Turno 2</mat-list-item>
            <mat-list-item role="listitem">Turno 3</mat-list-item>
        </mat-list> -->

        <div class="p-4 bg-gray-100 shadow rounded-2xl">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-full !bg-gray-100">

                <!-- Especialista -->
                <ng-container matColumnDef="especialista">
                <th mat-header-cell *matHeaderCellDef> Especialista </th>
                <td mat-cell *matCellDef="let turno"> {{ turno.especialista }} </td>
                </ng-container>

                <!-- Especialidad -->
                <ng-container matColumnDef="especialidad">
                <th mat-header-cell *matHeaderCellDef> Especialidad </th>
                <td mat-cell *matCellDef="let turno"> {{ turno.especialidad }} </td>
                </ng-container>

                <!-- Fecha -->
                <ng-container matColumnDef="fecha">
                <th mat-header-cell *matHeaderCellDef> Fecha </th>
                <td mat-cell *matCellDef="let turno"> {{ turno.fecha }} </td>
                </ng-container>

                <!-- Horario -->
                <ng-container matColumnDef="horario">
                <th mat-header-cell *matHeaderCellDef> Horario </th>
                <td mat-cell *matCellDef="let turno"> {{ turno.horario }} </td>
                </ng-container>

                <!-- Estado -->
                <ng-container matColumnDef="estado">
                <th  mat-header-cell *matHeaderCellDef> Estado </th>
                <td mat-cell *matCellDef="let turno"><div class="px-2 py-1 text-xs font-semibold rounded-full inline-block" [ngClass]="turno.estado | badgesEstados" >{{ turno.estado }}</div>  </td>
                </ng-container>

                <!-- Header y Body -->
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>

            <mat-paginator class="!bg-white !rounded-2xl" [pageSizeOptions]="[10, 15]" showFirstLastButtons></mat-paginator>
        </div>

    </div>

</div>