<mat-drawer-container class="">
    
    <mat-drawer #drawer  mode="side" opened>
        <button mat-flat-button routerLink="welcomeText"><mat-icon>home</mat-icon>Home</button>
        <button mat-flat-button routerLink="misTurnos" style="margin-top: 10px;"><mat-icon>calendar_month</mat-icon>Solicitar turno</button>
        <button mat-flat-button routerLink="misTurnos" style="margin-top: 10px;"><mat-icon>event</mat-icon>Mis turnos</button>
        @if (rol=="admin")
        {
            <button mat-flat-button routerLink="usuarios" style="margin-top: 10px;"><mat-icon>group</mat-icon>Usuarios</button>
        }
        <button mat-flat-button routerLink="miPerfil" style="margin-top: 10px;"> <mat-icon>person</mat-icon> Mi perfil</button>
    </mat-drawer>
    
    
    <mat-drawer-content class="px-10 pb-6 pt-6">
        <div class="row w-full h-full">
            <div class="w-full h-full">
                <router-outlet></router-outlet>            
            </div>
            
        </div>
        
        <!-- SPINNER -->
        <div *ngIf="cargando" class="spinner-overlay">
            <mat-progress-spinner
              mode="indeterminate"
              diameter="50">
            </mat-progress-spinner>
        </div>
          
        <div [class.loading]="cargando"></div>
        <!-- SPINNER -->
    </mat-drawer-content>

      
</mat-drawer-container>
