<div class="w-96 h-auto rounded-2xl bg-white flex flex-col text-center items-center p-8 py-10" >
    <h1 class="text-3xl font-semibold text-blue-500">Confirmar turno</h1>
    <!-- <h1 class="text-2xl font-semibold text-blue-500">{{data.dia}}</h1> -->
    <section class="w-full h-full pt-10 text-center justify-center items-center">
       

            <div class="flex w-full text-center justify-center gap-4">
                <strong class="text-xl">Fecha turno: </strong>
                <p class="mt-1 text-gray-500">{{turnoSeleccionado.fecha}}</p>
            </div>
            <div class="flex w-full text-center justify-center gap-4">
                <strong class="text-xl">Horario: </strong>
                <p class="mt-1 text-gray-500">{{turnoSeleccionado.hora}}</p>
            </div>
            
        
        
            <section class="w-full h-full flex flex-col items-center">
                <div class="flex gap-2 pt-12" >
                    <button (click)="Cancelar()" type="button" mat-raised-button class="!text-white !bg-red-400">
                        Cancelar
                    </button>
                    <button type="button" (click)="CrearTurno()" mat-flat-button >Aceptar</button>
                </div>
            </section>
        
    </section>
</div>
