<div class="w-full h-full p-6">
    <mat-tab-group class="h-full">
        <mat-tab label="Pacientes" class="h-full">
            <!-- PACIENTES -->
            <section class="w-full mb-6">
                <div class="w-full text-center mt-4 flex justify-center gap-7">
                    <h1 class="text-4xl font-medium mb-6 mt-2">Pacientes</h1>
                    <button mat-fab (click)="OpenDialog()">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
                <div class="flex gap-x-6">
                    @for (paciente of pacientes; track $index) 
                    {
            
                        <mat-card class="w-72 h-96 !bg-blue-100">
                            <img mat-card-image class="h-52 " src="{{paciente.imagen}}" alt="">
                            <mat-card-header>
                                <mat-card-title class="!font-medium">{{paciente.nombre}} {{paciente.apellido}}</mat-card-title>
                                <mat-card-subtitle>{{paciente.obraSocial}}</mat-card-subtitle>
                            </mat-card-header>
            
                            <mat-card-actions class="justify-evenly">
                                <button mat-button>Historia c.</button>
                                <button mat-button >Perfil</button>
                            </mat-card-actions>
                        </mat-card>
                    }
        
                </div>
        
            </section>

        </mat-tab>
        <mat-tab label="Especialistas" class="h-full">
            <!-- ESPECIALISTAS -->
            <section class="w-full mb-6">
                <div class="w-full text-center mt-4 flex justify-center gap-7">
                    <h1 class="text-4xl font-medium mb-6 mt-2">Especialistas</h1>
                    <button mat-fab (click)="OpenDialog()">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
                <div class="flex gap-x-6">
                    @for (especialista of especialistas; track $index) 
                    {
            
                        <mat-card class="w-72 h-96 !bg-blue-100">
                            <img mat-card-image class="h-52" src="{{especialista.imagen}}" alt="">
                            <mat-card-header>
                                <mat-card-title class="!font-medium">{{especialista.nombre}} {{especialista.apellido}}</mat-card-title>
                                <mat-card-subtitle>{{especialista.obraSocial}}</mat-card-subtitle>
                            </mat-card-header>
            
                            <mat-card-actions class="justify-evenly">
                                @if (especialista.estado == 1)
                                {
                                    <button mat-button class="!text-red-400" (click)="DarBajaUsuario(especialista.id)">Dar de Baja</button>
                                }
                                @else
                                {
                                    <button mat-button class="!text-green-400" (click)="DarAltaUsuario(especialista.id)">Dar de Alta</button>
                                }
                                <button mat-button>Perfil</button>
                            </mat-card-actions>
                        </mat-card>
                    }
            
                </div>
            </section>
        </mat-tab>
        <mat-tab label="ADMINISTRADORES" class="h-full">
             
             <!-- ADMINISTRADORES -->
           <!-- ESPECIALISTAS -->
            <section class="w-full mb-6">
                <div class="w-full text-center mt-4 flex justify-center gap-7">
                    <h1 class="text-4xl font-medium mb-6 mt-2">Administradores</h1>
                    <button mat-fab (click)="OpenDialog()">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
                <div class="flex gap-x-6">
                    @for (admin of administradores; track $index) 
                    {
            
                        <mat-card class="w-72 h-96 !bg-blue-100">
                            <img mat-card-image class="h-52" src="{{admin.imagen}}" alt="">
                            <mat-card-header>
                                <mat-card-title class="!font-medium">{{admin.nombre}} {{admin.apellido}}</mat-card-title>
                                <mat-card-subtitle>{{admin.obraSocial}}</mat-card-subtitle>
                            </mat-card-header>
            
                            <mat-card-actions class="justify-evenly">
            
                                <button mat-button class="!text-red-400">Dar Baja</button>
                                <button mat-button>Perfil</button>
                            </mat-card-actions>
                        </mat-card>
                    }
            
                </div>
            </section>
        </mat-tab>
    </mat-tab-group>
    


</div>
