<div class="contenido">
    <table>
        <thead>
            <tr>
                <th></th>
                <th>DNI</th>
                <th>NOMBRE</th>
            </tr>
        </thead>
        <tbody>
            <!-- @for (item of repartidores; track $index) 
            {
                <tr (click)="RepartidorElegido(item)" style="cursor: pointer;">
                    <td>#</td>
                    <td>{{item.dni}}</td>
                    <td>{{item.nombre}}</td>
                </tr>
            } -->
            <tr style="cursor: pointer;">
                <td>#</td>
                <td>pepe</td>
                <td>pepe</td>
            </tr>
            <tr style="cursor: pointer;">
                <td>#</td>
                <td>pepe</td>
                <td>pepe</td>
            </tr>
            <tr style="cursor: pointer;">
                <td>#</td>
                <td>pepe</td>
                <td>pepe</td>
            </tr>
            <tr style="cursor: pointer;">
                <td>#</td>
                <td>pepe</td>
                <td>pepe</td>
            </tr>
            <tr style="cursor: pointer;">
                <td>#</td>
                <td>pepe</td>
                <td>pepe</td>
            </tr>
            <tr style="cursor: pointer;">
                <td>#</td>
                <td>pepe</td>
                <td>pepe</td>
            </tr>
            <tr style="cursor: pointer;">
                <td>#</td>
                <td>pepe</td>
                <td>pepe</td>
            </tr>
            
        </tbody>
    </table>
</div>
