<div class="rounded-2xl bg-white px-8 py-8 h-full overflow-auto">
    <div class="sticky flex justify-between items-center">
            <div>
                <h1 class="text-3xl font-medium">Usuarios</h1>
                <h2 class="text-gray-500 mb-6">Listado de todos los usuarios del sistema.</h2>
            </div>
            <div>
                 <button mat-button (click)="descargarInfoUsuarios()">
                    <mat-icon>picture_as_pdf</mat-icon>Descargar Info. Usuarios
                </button>
            </div>
    </div>
    <mat-tab-group class="h-auto">
        <mat-tab label="Pacientes" class="h-auto">
            <!-- PACIENTES -->
            <section class="w-full mb-6">
                <div class="w-full text-center mt-4 flex justify-center gap-7">
                    <h1 class="text-4xl font-medium mb-6 mt-2">Pacientes</h1>
                    <button mat-fab (click)="OpenDialog('paciente')">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
                <div class="flex gap-x-6">
                    @for (paciente of pacientes; track $index) 
                    {
                        <mat-card class="w-72 h-96 !bg-blue-100">
                            <img mat-card-image class="h-52 " src="{{paciente.imagen}}" alt="">
                            <mat-card-header>
                                <mat-card-title class="!font-medium">{{paciente.nombre}} {{paciente.apellido}}</mat-card-title>
                                <mat-card-subtitle>{{paciente.obraSocial}}</mat-card-subtitle>
                            </mat-card-header>
            
                            <mat-card-actions class="justify-evenly">
                                <button mat-button (click)="verHistoriaClinica(paciente.id, paciente)">Historia c.</button>
                                <button mat-button (click)="descargarTurnos(paciente)">Historial Turnos.</button>
                            </mat-card-actions>
                        </mat-card>
                    }
        
                </div>
        
            </section>

        </mat-tab>
        <mat-tab label="Especialistas" class="h-full">
            <!-- ESPECIALISTAS -->
            <section class="w-full mb-6">
                <div class="w-full text-center mt-4 flex justify-center gap-7">
                    <h1 class="text-4xl font-medium mb-6 mt-2">Especialistas</h1>
                    <button mat-fab (click)="OpenDialog('especialista')">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
                <div class="flex gap-x-6">
                    @for (especialista of especialistas; track $index) 
                    {
            
                        <mat-card class="w-72 h-96 !bg-blue-100">
                            <img mat-card-image class="h-52" src="{{especialista.imagen}}" alt="">
                            <mat-card-header>
                                <mat-card-title class="!font-medium">{{especialista.nombre}} {{especialista.apellido}}</mat-card-title>
                                <mat-card-subtitle>{{especialista.obraSocial}}</mat-card-subtitle>
                            </mat-card-header>
            
                            <mat-card-actions class="justify-evenly">
                                @if (especialista.estado == 1)
                                {
                                    <button mat-button class="!text-red-400" (click)="DarBajaUsuario(especialista.id)">Dar de Baja</button>
                                }
                                @else
                                {
                                    <button mat-button class="!text-green-400" (click)="DarAltaUsuario(especialista.id)">Dar de Alta</button>
                                }
                            </mat-card-actions>
                        </mat-card>
                    }
            
                </div>
            </section>
        </mat-tab>
        <mat-tab label="ADMINISTRADORES" class="h-full">
             
             <!-- ADMINISTRADORES -->
           <!-- ESPECIALISTAS -->
            <section class="w-full mb-6">
                <div class="w-full text-center mt-4 flex justify-center gap-7">
                    <h1 class="text-4xl font-medium mb-6 mt-2">Administradores</h1>
                    <button mat-fab (click)="OpenDialog('admin')">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
                <div class="flex gap-x-6">
                    @for (admin of administradores; track $index) 
                    {
            
                        <mat-card class="w-72 h-96 !bg-blue-100">
                            <img mat-card-image class="h-52" src="{{admin.imagen}}" alt="">
                            <mat-card-header>
                                <mat-card-title class="!font-medium">{{admin.nombre}} {{admin.apellido}}</mat-card-title>
                                <mat-card-subtitle>{{admin.obraSocial}}</mat-card-subtitle>
                            </mat-card-header>
            
                            <mat-card-actions class="justify-evenly">
            
                                <!-- <button mat-button class="!text-red-400">Dar Baja</button> -->
                            </mat-card-actions>
                        </mat-card>
                    }
            
                </div>
            </section>
        </mat-tab>
    </mat-tab-group>
    


</div>
