<div class="welcome-section rounded-2xl">
    <section class="contenido flex gap-12 rounded-t-2xl object-contain bg-cover bg-no-repeat bg-center"  [ngStyle]="{'background-image': 'url(' + (imagen2 || fondoDePortada) + ')'}">

        
        <div class="foto mr-10 ml-6">
            <img [src]="user?.photoURL ?? 'https://www.shutterstock.com/image-vector/blank-avatar-photo-place-holder-600nw-1095249842.jpg'" class="profile-image">
        </div>

        <div class=" w-2/3" *ngIf="userInfo$ | async as userInfo">

            <section class=" mt-6 shadow-lg p-6 w-3/4 bg-blue-200 rounded-2xl">
                <div class=" ml-10">
                    <span class="text-4xl font-bold ">
                        {{userInfo.nombre ?? ''}} {{userInfo.apellido ?? ''}}
                    </span>
                    <div class="flex gap-2 mt-4"><strong class="text-xl">DNI: </strong><p class=" text-lg"> {{userInfo.dni ?? 'No tiene'}}</p></div>
                    <div class="flex gap-2"><strong class="text-xl">Email: </strong><p class=" text-lg"> {{user.email}}</p></div>
                    <div class="flex gap-2"><strong class="text-xl">Documento: </strong><p class=" text-lg"> {{userInfo.dni ?? 'No tiene'}}</p></div>
                    <div class="flex gap-2"><strong class="text-xl">Obra social: </strong><p class=" text-lg"> {{userInfo.obraSocial ?? 'No tiene'}}</p></div>
                </div>

            </section>

        </div>

         <!-- SPINNER -->
        <div *ngIf="cargando" class="spinner-overlay">
            <mat-progress-spinner
            mode="indeterminate"
            diameter="50">
            </mat-progress-spinner>
        </div>
        <div [class.loading]="cargando"></div>
        
    </section>

    <section class=" w-full h-auto bg-gray-100 text-center justify-center pt-6">
        <div class="flex w-full justify-center">
            <mat-icon class="mt-1.5 mr-2">history</mat-icon>
            <h2 class=" text-3xl font-semibold">Mi historial</h2>
        </div>
    </section>

    
    
</div>

