<div class="welcome-section">
    <div class="contenido flex gap-12" >

        <div class="foto mr-10 ml-6">
            <img [src]="user.photoURL ?? 'https://www.shutterstock.com/image-vector/blank-avatar-photo-place-holder-600nw-1095249842.jpg' " class="profile-image">
        </div>

        <div class=" w-2/3" *ngIf="userInfo$ | async as userInfo">

            <section class="shadow-lg p-6 w-3/4 bg-blue-300 rounded-2xl">
                <div class=" ml-10">
                    <span class="text-4xl font-bold ">
                        {{userInfo.nombre ?? ''}} {{userInfo.apellido ?? ''}}
                    </span>
                    <div class="flex gap-2 mt-4"><strong class="text-xl">DNI: </strong><p class=" text-lg"> {{userInfo.dni ?? 'No tiene'}}</p></div>
                    <div class="flex gap-2"><strong class="text-xl">Email: </strong><p class=" text-lg"> {{user.email}}</p></div>
                    <div class="flex gap-2"><strong class="text-xl">Documento: </strong><p class=" text-lg"> {{userInfo.dni ?? 'No tiene'}}</p></div>
                    <div class="flex gap-2"><strong class="text-xl">Obra social: </strong><p class=" text-lg"> {{userInfo.obraSocial ?? 'No tiene'}}</p></div>
                </div>

            </section>

        </div>
    

        
    </div>
</div>

