<div class="welcome-section">
    <div class="contenido">

        <div class="foto">
            <img src="../../../assets/10.jpg" class="profile-image">
            <span class="profile-name">Test Usuario</span>
        </div>
        <div class="welcome-content">
          <h1>Informacion del usuario:</h1>
          <div style="margin-left: 40px;">
              <p>DNI: </p>
              <p>Mail: </p>
              <p>Edad:</p>
              <p>Obra social:</p>
          </div>
          

        </div>
    

        
    </div>
</div>

