
  
 

  .welcome-section {
    position: relative;
    height: 100%;
    width: 100%;
    
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 20px;
   
    
  }

  .contenido
  {
    padding: 5%;

  }

  .profile-image {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
  }
  

  