
  
 

  .welcome-section {
    height: 100%;
    width: 100%;
    
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 20px;
   
    
  }

  .contenido
  {
    padding: 5%;

  }

  .profile-image {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
  }
  

  .spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5); /* Backdrop oscuro semi-transparente */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  backdrop-filter: blur(4px);
}


.loading {
  pointer-events: none;
  opacity: 0.6;

}
  