<div class="todo">
  
  <div class="welcome-section">
      <div class="welcome-content">
        <h1>Bienvenido</h1>
        <p>Gestion de turnos online.</p>
          
        <a style="margin-top: 150px;" href="#">Conocer mas</a>
      </div>

      <div class="slogan">
        <h3>Elegí vivir una vida</h3>
        <h3>plena y saludable</h3>
        <p>Elegí a Clinica Online.</p>
      </div>
  </div>
    
    
  <div class="welcome-section2">

    <div class="welcome-content2">
      <h1>Reserva tus turnos</h1>
      <p>Manejar tus turnos medicos nunca fue tan facil.</p>
    </div>
    
    
    <button class="center-button" mat-raised-button>Reserva aquí</button>
    
  </div>

  <div class="welcome-section-text">

      <!-- <h1>Trabaja con nosotros</h1>
      <p>Manejar tus turnos medicos nunca fue tan facil.</p> -->
    
  </div>

  <div class="welcome-section3">

    <div class="welcome-content3">
      <h1>Acerca de nosotros.</h1>
      
      <p>En <strong>Clinica Online</strong>, nos dedicamos a ofrecer atención médica de alta calidad con un enfoque personalizado. Desde [año de fundación], hemos sido un referente en la comunidad, comprometidos con el bienestar de nuestros pacientes.</p>

      <p> Nuestro equipo de profesionales está formado por médicos y especialistas que trabajan en conjunto para proporcionar un cuidado integral, desde consultas generales hasta tratamientos especializados.</p>
        
      <ul>
        <strong>Nuestra Misión</strong>
        <li>Mejorar la salud y el bienestar de nuestros pacientes a través de un enfoque holístico, abordando tanto los síntomas como las causas subyacentes.</li> 
      </ul>
      <ul> 
        <strong>Nuestros Servicios</strong>
        <li>Ofrecemos una variedad de servicios, incluyendo consultas médicas, exámenes de diagnóstico y programas de prevención.</li>
      </ul>
        Te invitamos a visitarnos y descubrir cómo en Clinica Online podemos cuidar de tu salud.
    </div>
    
  </div>
    

    
    
    <div class="block"></div>

    <app-footer></app-footer>
    
  </div>


  
