.todo{
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

h1{
  font-weight: 700;
}

h3{
  font-weight: 600;
  font-size: 40px;
}

@keyframes appearFirst{
  from{
    opacity: 0;
    /* scale: 0.9; */
  }
  to{
    opacity: 1;
    /* scale: 1; */
  }
}

@keyframes appear{
  from{
    opacity: 0;
    scale: 0.5;
  }
  to{
    opacity: 1;
    scale: 1;
  }
}

@keyframes appearTextLeft{
  from{
    opacity: 0;
    transform: translateX(250px);
    clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
  }
  to{
    opacity: 1;
    clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
    transform: translateX(0px);
  }
}

@keyframes appearTextRight{
  from{
    opacity: 0;
    transform: translateX(-250px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes appearTextCenter{
  from{
    opacity: 0;
    transform: translateX(250px);
    
  }
  to{
    opacity: 1;
    transform: translateX(0px);
    
  }
}

@keyframes appearTextSlogan{
  from{
    opacity: 0;
    scale: 0.5;
    
  }
  to{
    opacity: 1;
    scale: 1;
  }
}



.welcome-section {
  position: relative; /* Permite scroll */
  /* min-height: 75vh; Ocupa 3/4 de la pantalla */
  height: 700px;
  width: 80%;
  background: url('../../../../assets/2.jpg') no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  border-radius: 20px;/* bordes redondos */
  margin-top: 135px;
  animation: appearFirst 1.5s linear;
}

.welcome-content{
  background-color: rgba(53, 112, 221, 0.9);
  color: white;
  padding: 50px;
  max-width: 500px;
  clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
  width: 500px;
  animation: appearTextLeft 2s linear;
}

.welcome-content a {
  color: white;
  text-decoration: underline;
  margin-top: 10px;
}

.slogan{
  color: rgb(88, 87, 87);
  margin-right: 150px;
  animation: appearTextSlogan 2s linear;
}


.welcome-section-2 {
  height: 700px;
  width: 80%;
  background: url('../../../../assets/6.jpg') no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  border-radius: 20px;/* bordes redondos */
  margin-top: 150px;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0;
  padding-top: 80px; /* Ajusta según el tamaño de tu navbar */
   /* Ajusta para que el elemento ocupe menos espacio visual */
}

.welcome-content2 {
  background-color: rgba(53, 112, 221, 0.9);
  color: white;
  padding: 50px;
  clip-path: polygon(25% 0, 100% 0, 100% 100%, 0% 100%);
  width: 670px;
  text-align: right;
  align-self: flex-end;
  animation: appearTextRight linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;

}

.welcome-section-doble
{
  display: flex;
  justify-content: space-between;
  width: 75%;
  
}

.welcome-section-doble-hijo-1{
  
  height: 700px;
  width: 45%;
  background: url('../../../../assets/7.jpg') no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  border-radius: 20px;/* bordes redondos */
  margin-top: 150px;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0;

}

.welcome-section-doble-hijo-2{
  
  height: 700px;
  width: 45%;
  background: url('../../../../assets/8.jpg') no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  border-radius: 20px;/* bordes redondos */
  margin-top: 150px;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0;

}

.welcome-content-doble-hijo-1 {
  background-color: rgba(53, 112, 221, 0.801);
  color: white;
  padding: 50px;
  clip-path: polygon(2% 0, 100% 0, 100% 100%, 0% 100%);
  width: 500px;
  text-align: right;
  align-self: flex-end;
  animation: appearTextRight linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;

}

.welcome-content-doble-hijo-2 {
  background-color: rgba(255, 255, 255, 0.795);
  color:  rgba(53, 112, 221, 0.9);
  padding: 50px;
  clip-path: polygon(2% 0, 100% 0, 100% 100%, 0% 100%);
  width: 500px;
  text-align: right;
  align-self: flex-end;
  animation: appearTextRight linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;

}





.welcome-section-3 {
  position: relative; /* Permite scroll */
  min-height: 700px;
  width: 80%;
  background: url('../../../../assets/5.jpg') no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  border-radius: 20px;/* bordes redondos */
  margin-top: 150px;
  animation: appear linear;
  animation-range: entry 0;
  animation-timeline: view();
}

.welcome-content3 {
  background-color: rgba(53, 112, 221, 0.9);
  color: white;
  padding: 50px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  width: 50%;
  height: 50%;
  text-align: start;
  align-self: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  border-radius: 20px;/* bordes redondos */
  animation: appearTextCenter linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.center-button
{
  margin-top: 70px;
  align-self: center; 
  padding: 35px 100px 35px 100px;
  font-size: 18px;
}
