<div #top class="todo">
  
  <div id="welcome-section" class="welcome-section">
      <div class="welcome-content">
        <h1>Bienvenido</h1>
        <p>Gestión de turnos online.</p>
          
        <a style="margin-top: 150px;" href="#">Conocer mas</a>
      </div>

      <div class="slogan">
        <h3>Elegí vivir una vida</h3>
        <h3>plena y saludable</h3>
        <p>Elegí a Clinica Online.</p>


      </div>
  </div>
    
    
  <div #section2 class="welcome-section-2">

    <div class="welcome-content2">
      <h1>Reserva tus turnos</h1>
      <p>Manejar tus turnos medicos nunca fue tan facil.</p>
    </div>
    
    <button class="center-button" mat-raised-button>Reserva aquí</button>
    
  </div>

  <div #sectionDoble id="welcome-section-doble" class="welcome-section-doble">

    <div class="welcome-section-doble-hijo-1">

      <div class="welcome-content-doble-hijo-1">
        <h2>Soy paciente</h2>
        <p>¿Queres atenderte con nosotros?</p>
      </div>
      
      
      <button (click)="navegarRegistroPaciente()" class="center-button" mat-raised-button style="color:#fff; background-color: rgb(14, 100, 191);">Asociate</button>
      
    </div>

    <div class="welcome-section-doble-hijo-2">

      <div class="welcome-content-doble-hijo-2">
        <h2>Soy especialista</h2>
        <p>¿Queres formar parte de nuestro equipo?</p>
      </div>
    
      <button (click)="navegarEspecialista()" class="center-button" mat-raised-button style="color:#fff; background-color: rgb(14, 100, 191);">Trabaja con nosotros</button>
      
    </div>
    
  </div>

  <div  #section3 id="welcome-section-3" class="welcome-section-3">

    <div class="welcome-content3">
      <h1>Acerca de nosotros.</h1>
      
      <p>En <strong>Clinica Online</strong>, nos dedicamos a ofrecer atención médica de alta calidad con un enfoque personalizado. Desde el año 1990, hemos sido un referente en la comunidad, comprometidos con el bienestar de nuestros pacientes.</p>

      <p> Nuestro equipo de profesionales está formado por médicos y especialistas que trabajan en conjunto para proporcionar un cuidado integral, desde consultas generales hasta tratamientos especializados.</p>
        
      <ul>
        <strong>Nuestra Misión</strong>
        <li>Mejorar la salud y el bienestar de nuestros pacientes a través de un enfoque holístico, abordando tanto los síntomas como las causas subyacentes.</li> 
      </ul>
      <ul> 
        <strong>Nuestros Servicios</strong>
        <li>Ofrecemos una variedad de servicios, incluyendo consultas médicas, exámenes de diagnóstico y programas de prevención.</li>
      </ul>
        Te invitamos a visitarnos y descubrir cómo en Clinica Online podemos cuidar de tu salud.
    </div>
    
  </div>
    

    
    
    <div class="block"></div>

    <app-footer></app-footer>
    
  </div>


  
