<div class="w-96 h-auto rounded-2xl bg-white flex flex-col text-center items-center p-4 pt-6" >
    <h1 class="text-2xl font-semibold ">Eliminar disponibilidad</h1>
    <h1 class="text-2xl font-semibold text-blue-400">{{data.dia}}</h1>
    <section class="w-full h-full pt-10">
       
        


                <div class="flex gap-2 pt-10 justify-center" >
                    <button (click)="Cancelar()" type="button" mat-raised-button class="!text-white !bg-red-400">
                        Cancelar
                    </button>
                    <button type="button" (click)="eliminar()" mat-flat-button >Aceptar</button>
                </div>

               
    </section>
</div>
