<div class="bg-white w-full h-full rounded-2xl shadow-lg p-8 overflow-hidden flex flex-col">
    <div class="sticky flex justify-between">
            <div>
                <h1 class="text-3xl font-medium">Informes</h1>
                <h2 class="text-gray-500 mb-6">Listado de infomrmes.</h2>
            </div>
    </div>
    <section class="w-auto h-auto flex justify-evenly gap-10 mt-2 items-center">

        <div class=" !w-80 !h-80 justify-center items-center text-center">
            <h2 class="text-2xl font-medium text-gray-600">Cantidad de turnos por día:</h2>
            <canvas  id="chartPie"></canvas>
            <button class="mt-2" mat-button (click)="exportarGraficosPdf('chartPie','Cantidad de turnos por día:','estadisticas_cant_tunros_por_dia')">
                <mat-icon>picture_as_pdf</mat-icon>Descargar
            </button>
        </div>

        <div class=" !w-[50%] !h-80 justify-center items-center  text-center">
            <h2 class="text-2xl font-medium text-gray-600">Cantidad de turnos por especialidad:</h2>
            <canvas id="barChart"></canvas>
            <button class="mt-2" mat-button (click)="exportarGraficosPdf('barChart','Cantidad de turnos por especialidad:','estadisticas_cant_tunros_por_especialidad')">
                <mat-icon>picture_as_pdf</mat-icon>Descargar
            </button>
        </div>
    </section>
    <section class="flex mt-24 justify-evenly gap-2 pt-6">
        <div class="h-auto w-96 text-center">
            <h2 class="text-2xl font-medium text-gray-600">Ingresos al sistema:</h2>
            <button class="mt-12" mat-button (click)="decargarlogs()">
                <mat-icon class="">download</mat-icon>Descargar
            </button>
        </div>

        <div class="h-auto w-96 text-center">
            <h2 class="text-2xl font-medium text-gray-600">Turnos solicitados:</h2>
            <section>
                <form action="" class="flex flex-col" [formGroup]="form1" (submit)="decargarTurnosSolicitados()">
                    <div class="w-full px-12 mt-2">
                        <mat-form-field appearance="fill" class="text-sm !h-17 w-full">
                            <mat-label>Seleccionar Especialista</mat-label>
                            <mat-select
                            formControlName="especialista1">
                                <mat-option *ngFor="let especialista of especialistasOptions " [value]="especialista">
                                    {{ especialista.nombre + " " +  especialista.apellido}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="w-full px-12">
                        <mat-form-field class="text-sm !h-17 w-full">
                            <mat-label>Seleccionar Rango</mat-label>
                            <mat-date-range-input  [rangePicker]="picker1">
                                <input matStartDate formControlName="start" placeholder="Start date">
                                <input matEndDate formControlName="end" placeholder="End date">
                            </mat-date-range-input>
                            <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-date-range-picker #picker1></mat-date-range-picker>
                        </mat-form-field>
                    </div>
                    <button mat-button type="submit">
                        <mat-icon >download</mat-icon>Descargar
                    </button>
                </form>
            </section>
        </div>

        <div class="h-auto w-96 text-center">
            <h2 class="text-2xl font-medium text-gray-600">Turnos finalizados:</h2>
            <section>
                <form action="" class="flex flex-col" [formGroup]="form2" (submit)="decargarTurnosFinalizados()">
                    <div class="w-full px-12 mt-2">
                        <mat-form-field appearance="fill" class="text-sm !h-17 w-full">
                            <mat-label>Seleccionar Especialista</mat-label>
                            <mat-select
                            formControlName="especialista2">
                                <mat-option *ngFor="let especialista of especialistasOptions " [value]="especialista">
                                    {{ especialista.nombre + " " +  especialista.apellido}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="w-full px-12">
                        <mat-form-field class="text-sm !h-17 w-full">
                            <mat-label>Seleccionar rango</mat-label>
                            <mat-date-range-input  [rangePicker]="picker2">
                                <input matStartDate formControlName="start" placeholder="Start date">
                                <input matEndDate formControlName="end" placeholder="End date">
                            </mat-date-range-input>
                            <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-date-range-picker #picker2></mat-date-range-picker>
                        </mat-form-field>
                    </div>
                    <button  mat-button type="submit">
                        <mat-icon>download</mat-icon>Descargar
                    </button>
                </form>
            </section>
        </div>
    </section>
    
</div>
