<div class="flex h-full w-full items-center align-middle justify-center">

    <div class="appear-animation w-full h-full bg-white shadow-lg rounded-lg flex justify-center text-center align-middle items-center p-12">

        <form class="form" [formGroup]="formRegistro" (submit)="Register()">
    
            <h1 class=" text-4xl text-center text-blue-500 font-bold mb-6">Registro especialistas</h1>
    
            <div style="display: flex; justify-content: space-evenly;">
                <mat-form-field style="width: 45%;" class="text-sm h-17">
                    <mat-label>Nombre</mat-label>
                    <input [(ngModel)]="nombre"  matInput formControlName="nombreregistro" placeholder="Ingrese Nombre">
                    @if (nombreregistro?.hasError('required')) 
                    {
                        <mat-error>Nombre es <strong>requerido</strong></mat-error>
                    }
                    @if (nombreregistro?.hasError('pattern')) 
                    {
                        <mat-error>Solo ingresar <strong>letras</strong></mat-error>
                    }

                </mat-form-field>
                
                <mat-form-field style="width: 45%;" class="text-sm h-17">
                    <mat-label>Apellido</mat-label>
                    <input [(ngModel)]="apellido" matInput placeholder="Ingrese Apellido" formControlName="apellidoRegistro">
                    
                    @if (apellidoRegistro?.hasError('required')) 
                    {
                        <mat-error>Apellido <strong>requerida</strong></mat-error>
                    }
                    @if (apellidoRegistro?.hasError('pattern')) 
                    {
                        <mat-error>Solo ingresar <strong>letras</strong></mat-error>
                    }
                </mat-form-field>
            </div>

            <div style="display: flex; justify-content: space-evenly;">
                <mat-form-field style="width: 45%;" class="text-sm h-17">

                    <mat-label>Edad</mat-label>
                    <input type="number" [(ngModel)]="edad"  matInput formControlName="edadRegistro" placeholder="Ingrese edad">
                    @if (edadRegistro?.hasError('required')) 
                    {
                        <mat-error>Edad es <strong>requerida</strong></mat-error>
                    }
                    @if (edadRegistro?.hasError('min')) 
                    {
                        <mat-error>Edad debe ser <strong>mayor a 23</strong></mat-error>
                    }
                    @if (edadRegistro?.hasError('max')) 
                    {
                        <mat-error>Edad debe ser <strong>menor a 99</strong></mat-error>
                    }

                    
                </mat-form-field>
                
                <mat-form-field style="width: 45%;" class="text-sm h-17">
                    <mat-label>DNI</mat-label>
                    <input type="number" [(ngModel)]="dni" matInput placeholder="Ingrese DNI" formControlName="dniRegistro">
                    
                    @if (dniRegistro?.hasError('required')) 
                    {
                        <mat-error>DNI <strong>requerido</strong></mat-error>
                    }
                    
                    @if (dniRegistro?.hasError('min')) 
                    {
                        <mat-error>Minimo <strong>8 caracteres</strong></mat-error>
                    }

                    @if (dniRegistro?.hasError('max')) 
                    {
                        <mat-error>Maximo <strong>8 caracteres</strong></mat-error>
                    }


                    
                </mat-form-field>
            </div>

            <div style="display: flex; flex-direction: column; align-items: center;">
                <mat-form-field style="width: 93%;" class="text-sm h-17">
                    <mat-label>Email</mat-label>
                    <input [(ngModel)]="email" type="email" matInput formControlName="emailRegistro" placeholder="Ingrese email">
                    
                    @if (emailRegistro?.hasError('email') && !emailRegistro?.hasError('required')) 
                    {
                        <mat-error>Igresar email valido</mat-error>
                    }
                    @if (emailRegistro?.hasError('required')) 
                    {
                        <mat-error>Email es <strong>requerido</strong></mat-error>
                    }
                </mat-form-field>
                
                <mat-form-field style="width: 94%;" class="text-sm h-17">
                    <mat-label>Contraseña</mat-label>
                    <input [(ngModel)]="password" matInput [type]="hide ? 'password' : 'text'" placeholder="Ingrese contraseña" formControlName="passwordRegistro">
                    <button style="margin-right: 20px;" type="button" mat-icon-button matSuffix (click)="togglePasswordVisibility()" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon  >{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    @if (passwordRegistro?.hasError('required')) 
                    {
                        <mat-error>Contraseña <strong>requeridas</strong></mat-error>
                    }
                    @if (passwordRegistro?.hasError('minlength')) 
                    {
                        <mat-error>Debe ser mayor a <strong>6 digitos</strong></mat-error>
                    }
                    
                </mat-form-field>

            </div>

            <div style="display: flex; justify-content: space-evenly; align-items: center;">
                <mat-form-field style="margin-top: 10px; width: 45%;" appearance="fill" class="text-sm h-17">
                    <mat-label>Seleccionar Especialidad</mat-label>
                    <mat-select
                      formControlName="especialidadesRegistro"
                      multiple
                      (selectionChange)="onSelectionChange($event)">
                      <mat-option *ngFor="let especialidad of especialidades | async" [value]="especialidad.key">
                        {{ especialidad.name }}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
                
                  <!-- Campo para agregar nuevas especialidades -->
                  <div style="margin-top: 10px; width: 45%;">
                    <mat-form-field style="width: 100%;" class="text-sm h-17">
                      <mat-label>Agregar Especialidad</mat-label>
                      <input
                        [(ngModel)]="nuevaEspecialidad"
                        (keydown.enter)="agregarEspecialidad()"
                        matInput
                        formControlName="nuevaEspecialidadRegistro"
                        placeholder="Ingresa especialidad">
                        <button style="margin-right: 20px;" type="button" mat-icon-button matSuffix (click)="agregarEspecialidad()">
                            <mat-icon >add_circle</mat-icon>
                        </button>
                    </mat-form-field>
                  </div>
            </div>

            <div style="display: flex; justify-content: space-evenly;">
                 <div class="w-1/2 mb-2 text-center justify-center">
                    <div class="flex justify-center">
                        <mat-label class="block mb-1 text-md font-medium text-gray-700">Foto de Perfil</mat-label>
                        @if (archivoSeleccionadoRegistro?.hasError('required') && submitted) 
                        {
                            <mat-error class="ml-2 block text-sm text-red-600">Elija una foto de perfil</mat-error>
                        }   
                    </div>

                    <div class="flex justify-center gap-2">
                        <!-- Botón "+" con tooltip -->
                        <label for="fileInput" 
                            class="cursor-pointer flex items-center justify-center w-10 h-10 bg-blue-500 text-white text-xl font-bold rounded-full shadow hover:bg-blue-700 transition relative"
                            matTooltip="Seleccione imagen">
                            +
                        </label>
                        <!-- Mostrar nombre del archivo -->
                        <span class="text-gray-700 text-sm truncate mt-2" *ngIf="archivoSeleccionado">{{ nombreArchivoSeleccionado }}</span>
                        <span class="text-gray-400 text-sm mt-2" *ngIf="!archivoSeleccionado">No se ha seleccionado archivo</span>
                    </div>

                    <!-- Input oculto -->
                    <input id="fileInput" type="file" accept="image/*" 
                        (change)="onFileSelected($event)" 
                        formControlName="archivoSeleccionadoRegistro"
                        class="hidden">
                    
                </div>
                

                <div class="capcha">
                    <re-captcha (resolved)="executeRecaptchaVisible($event)" siteKey="6LcnzlMrAAAAAAHepo-g-hini-Ah0SQZd-wQUMfH"></re-captcha>
                </div>

            </div>



            
            <div class="buttonsContainer" >
                <button style="margin-top: 15px; width: 50%; font-size: 18px;" type="submit" mat-raised-button >Registrarse</button>
                <!-- <button (click)="GoToLogin()" style="margin-top: 15px; width: 40%;" type="button" mat-flat-button >¿Ya tenes cuenta? Click qui.</button> -->
            </div>
        
        </form>
    </div>


    <!-- SPINNER -->
    <div *ngIf="cargando" class="spinner-overlay">
        <mat-progress-spinner
          mode="indeterminate"
          diameter="50">
        </mat-progress-spinner>
    </div>
      
    <div [class.loading]="cargando"></div>
    <!-- SPINNER -->
</div>

