<div class="bg-white w-full h-full rounded-2xl shadow-lg p-4 overflow-auto">
    
    <div class=" rounded-2xl p-4 h-full">
        <div class="sticky flex justify-center text-center">
            <div class="mb-6">
                <h1 class="text-3xl font-medium ">Ultimos turnos</h1>
                <h2 class="text-sm text-gray-400">Ultmos 3 turnos del paciente.</h2>
            </div>

        </div>
        

        <div class=" bg-gray-100 shadow rounded-2xl ">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-full !bg-gray-100">

                <!-- Especialista -->
                <ng-container matColumnDef="especialista">
                <th mat-header-cell *matHeaderCellDef>Especialista</th>
                <td mat-cell *matCellDef="let turno"> {{turno.especialistaNombre | nombreEspecialistaCompleto}} </td>
                </ng-container>

                <!-- Especialidad -->
                <ng-container matColumnDef="especialidad">
                <th mat-header-cell *matHeaderCellDef> Especialidad </th>
                <td mat-cell *matCellDef="let turno"> {{ turno.especialidadId.name }} </td>
                </ng-container>

                <!-- Fecha -->
                <ng-container matColumnDef="fecha">
                <th mat-header-cell *matHeaderCellDef> Fecha </th>
                <td mat-cell *matCellDef="let turno"> {{ turno.fecha }} </td>
                </ng-container>

                <!-- Horario -->
                <ng-container matColumnDef="horario">
                <th mat-header-cell *matHeaderCellDef> Horario </th>
                <td mat-cell *matCellDef="let turno"> {{ turno.hora }} </td>
                </ng-container>

                <!-- Estado -->
                <ng-container matColumnDef="estado">
                <th  mat-header-cell *matHeaderCellDef> Estado </th>
                <td mat-cell *matCellDef="let turno"><div class="px-2 py-1 text-xs font-semibold rounded-full inline-block" [ngClass]="turno.estado | badgesEstados" >{{ turno.estado | titlecase }}</div>  </td>
                </ng-container>

                <!-- Header y Body -->
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>

           
        </div>

    </div>

</div>
