<mat-toolbar class="nav">
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button> -->
    <span style="font-size: 35px; color: azure; cursor: pointer; font-weight: 550;">Clinica Online</span>
    <span class="example-spacer"></span>
    <button mat-raised-button extended>
        <mat-icon>person</mat-icon>
        Account
    </button>

    <button mat-raised-button extended>
        <mat-icon>person</mat-icon>
        Inicia sesion
    </button>

    <button mat-raised-button extended>
        <mat-icon>person</mat-icon>
        Registrate
    </button>
    
</mat-toolbar>
