

.example-spacer {
    flex: 1 1 auto;
  }

.nav{
    background-color: rgb(53, 112, 221);
    z-index: 40;
    position: fixed;
    top: 0;
}  

mat-toolbar{
  display: flex;
  justify-content: space-between;
}